<po-page-default p-title="Nova Turma" [p-breadcrumb]="breadcrumb">
  <div>
    <po-loading-overlay *ngIf="isLoadingPayment" p-text="Salvando">
    </po-loading-overlay>

    <po-stepper #stepper p-step-icons p-step-size="32">
      <po-step *ngFor="let step of steps" [p-label]="step.label">
        <po-widget
          class="po-md-12"
          [p-primary-label]="step.primaryLabelWidget"
          [p-secondary-label]="step.secondaryLabelWidget"
          (p-primary-action)="etapaAnterior($event, stepper, step.label)"
          (p-secondary-action)="
            proximaEtapa($event, stepper, step.label, stepForm?.form.invalid)
          "
          *ngIf="step.label != 'Confirmação'; else finalWidget"
        >
          <po-dynamic-form
            #stepForm
            [p-fields]="fields"
            (p-form)="getForm($event)"
          ></po-dynamic-form>

          <span
            class="po-icon po-icon-plus-circle po-md-12 pointer"
            *ngIf="step.label != ('Turma' || 'Confirmação')"
            (click)="abrirModal(step)"
            ><a class="po-text-color-01 po-font-text-large-bold"
              >Criar {{ step.label }}</a
            >
          </span>
        </po-widget>
        <ng-template #finalWidget>
          <po-widget
            class="po-md-12"
            [p-primary-label]="step.primaryLabelWidget"
            [p-secondary-label]="step.secondaryLabelWidget"
            (p-primary-action)="stepper.previous()"
            (p-secondary-action)="comfirmStep(stepper)"
          >
            <po-list-view> </po-list-view>
          </po-widget>
        </ng-template>
      </po-step>
    </po-stepper>
  </div>
</po-page-default>

<po-modal #modal [p-primary-action]="poModal">
  <po-dynamic-form
    #modalForm
    p-auto-focus="nome"
    [p-fields]="modalFields"
    (p-form)="getModalForm($event)"
  ></po-dynamic-form>
</po-modal>
